

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bordered {
    box-shadow: 1px 1px 6px 0px  black;
}
#results {
    padding: 20px;
    border: 1px solid;
    background: #ccc;
}
#reg-page{
    font-weight: 900;
    color: aliceblue;
}
#navbar{
    box-sizing: border-box;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
    background-color: #24252A;
}
body{
    background: url(../bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#form{
    margin: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* .container {
  padding: 30px 50px;
} */
#search-form {
  width: 30%;
  margin: 0 auto;
  position: relative;
}
#search-form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
}
#search-form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #333;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left:auto;
  margin-right:auto;
  border-radius: 2rem;
  border: none;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
/* .styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
} */

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */
/* @media (max-width: 1200px) {
  #search-form { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  #search-form { width: 100%; }
  .info { font-size: 0.5rem; }
} */

table{
  border: solid;
  background-color: aliceblue;
  border-radius: 0.5rem;
}


.container{
  background-color: azure;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
#video{
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid;
  border-color: darkgray;
  border-radius: 3rem;
}
#my_camera{
  margin-left: auto;
  margin-right: auto;
  border: solid;
}









